/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #242940;
    color: white;
}

/*.hide {
    display: none !important;
}*/

#main-title {
    padding: 40px 0;
    text-align: center;
    background-color: #2d425a;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
}

/*Score container*/

#score-container {
    background-color: #cddde8;
    color: black;
    text-align: center;
    width: 300px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
}

#score-container p {
    font-size: 14px;
    margin: 20px 0;
}

#score-container #display-score {
    font-size: 32px;
    font-weight: bold;
}

#correct-answers {
    font-weight: bold;
    color: #075ea4;
}

#restart {
    background-color: #e78230;
    color: white;
    font-weight: bold;
    height: 50px;
    border-radius: 25px;
    border: 2px solid transparent;
    width: 180px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: .5s;
}

#restart:hover {
    background-color: transparent;
    border-color: #e78230;
    color: #e78230;
}

/*Quiz container*/

#quizz-container {
    width: 500px;
    margin: 50px auto;
    border: 1px solid #cddde8;
    padding: 25px;
    border-radius: 25px;
}

#question {
    text-align: center;
    margin-bottom: 25px;
    font-size: 20px;
}

#question-number {
    font-weight: bold;
}

#answers-box button{
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: #cddde8;
    border: 2px solid transparent;
    text-align: left;
    padding-left: 5px;
    color: black;
    cursor: pointer;
    transition: .5s;
}