/*Geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #242940;
    color: white;
}

.hide {
    display: none !important;
}

#main-title {
    padding: 40px 0;
    text-align: center;
    background-color: #2d425a;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
}

/*Score container*/